In [29]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns
from datetime import datetime 
import json,ast

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['tmdb_5000_credits.csv', 'tmdb_5000_movies.csv']

In [36]:
#function to parse JSON data
def parse_json(column, keys):
    
    
    for index,i in zip(movies_df.index, movies_df[column].apply(json.loads)):
        list1=[]
        for j in range(len(i)):
            list1.append(i[j][keys])
        movies_df.loc[index,column]=str(list1)

In [12]:
#creating dataframes

credits = pd.read_csv('../input/tmdb_5000_credits.csv')
movies=pd.read_csv('../input/tmdb_5000_movies.csv')

movies.head()

      budget    ...     vote_count
0  237000000    ...          11800
1  300000000    ...           4500
2  245000000    ...           4466
3  250000000    ...           9106
4  260000000    ...           2124

[5 rows x 20 columns]

In [40]:
#cleansing dataset

del_movie_col=['keywords', 'homepage', 'status', 'tagline', 'original_language', 'homepage', 
                'overview', 'production_companies', 'original_title','title']

movies_df=movies.drop(del_movie_col,axis=1)

##dropin duplicate data
movies_df=movies_df.drop_duplicates(keep='first')

##droping missing or unrecorded data from budget and revenue
#convert zero to nan
money=['revenue','budget']
movies_df[money]=movies_df[money].replace(0,np.nan)
movies_df.dropna(subset=money,inplace=True)
#changing money 

#converted release date to datetime object and extracted release year 
movies_df.release_date=pd.to_datetime(movies_df['release_date'])
movies_df['release_year']=movies_df['release_date'].dt.year

#parsing JSON data 
parse_json('genres','name')
parse_json('production_countries','name')
parse_json('spoken_languages','name')
movies_df.head()

        budget     ...      release_year
0  237000000.0     ...              2009
1  300000000.0     ...              2007
2  245000000.0     ...              2015
3  250000000.0     ...              2012
4  260000000.0     ...              2012

[5 rows x 12 columns]

In [43]:
#Most expensive movie

expensive_movie_df=movies_df.sort_values(by='budget',ascending=False).head()
expensive_movie_df

         budget     ...      release_year
17  380000000.0     ...              2011
1   300000000.0     ...              2007
7   280000000.0     ...              2015
10  270000000.0     ...              2006
4   260000000.0     ...              2012

[5 rows x 12 columns]

In [ ]:
# comparison between most expensive and least expensive